html {
  background-color: black;
}


.app {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: black;
  min-height: 4em;
}

.app h1{  
  margin-bottom: 30px;
}

.centerContainer {
  display: inline-block;
  position: absolute;
  text-align: center;
  border: 5px double #FF705E;
  height: 600px;
  width: 1000px;
  align-content: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 60px;
  font-family: 'Supermercado One', cursive;
  color: #FF705E;
  background-color: black;
}

.centerContainer:hover {
  box-shadow: 1px 4px 5px 4px rgba(202,7,7,0.61);
  -webkit-box-shadow: 1px 4px 5px 4px rgba(202,7,7,0.61);
  -moz-box-shadow: 1px 4px 5px 4px rgba(202,7,7,0.61);
  transition: left 750ms ease-in-out, right 200ms ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.centerContainer input, textarea {
  font-family: 'Supermercado One', cursive;
  overflow: scroll;
}

.formcontrol {
  border: 2.5px double #FF705E;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #FF705E;
  -webkit-text-fill-color: black;
  transition: left 200ms ease-in-out, right 200ms ease-in-out;
}

.headerLink {
  text-decoration: none;
  text-align: center;
  color:#FF705E;
  font-family: 'Supermercado One', cursive;
  margin-top: 0;
}

header h1 {
  font-size: 6rem;
  border-bottom: 2.5px solid #FF705E;
}

header h1:hover {
  font-size: 6.3rem;
  border-bottom: 2.5px solid #FF705E;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.headerLink:hover {
  text-decoration: none;
  color: black;
  border-bottom: 2.5px solid black;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #FF705E;
  -webkit-text-fill-color: black;
  text-shadow: 5px 9px 13px rgba(195,24,24,0.73);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  transition: text-shadow 0.3s ease-in-out;
}

.leftSidebar {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  text-align: left;
}

.loginForm h2 {
  color: #FF705E;
  margin-bottom: 10px;
  text-align: center;
}

.loginForm button {
  font-family: 'Supermercado One', cursive;
  text-align: center;
}

.navbar {
  padding-right: 25px;
  font-family: 'Supermercado One';
  border: 2.5px double #FF705E;
  color: #FF705E;
  display: inline-block;
  padding-bottom: 3px;
  transition: left 600ms ease-in-out, right 200ms ease-in-out;
}

.navbar:hover {
  box-shadow: 10px 10px 5px 0px rgba(202,7,7,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(202,7,7,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(202,7,7,0.75);
  transition: box-shadow 0.3s ease-in-out;
}

.navbar:hover:after {
  opacity: 1;
}

.navbar li {
  margin-bottom: 2.5px;
}

.navLink {
  text-decoration: none;
  padding-bottom: auto;
}

.navLink:visited {
  text-decoration: none;
  color: #FF705E;
}

.navLink:hover {
  text-decoration: none;
  border-bottom: double 2px #FF705E;
  transform: scale(1.15);
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #FF705E;
  -webkit-text-fill-color: black;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  text-shadow: 5px 9px 13px rgba(195,24,24,0.73);
  transition: text-shadow 0.3s ease-in-out;
}

.navLinkk:visited {
  text-decoration: none;
  color: #FF705E;
}

.navLinkk:hover {
  text-decoration: none;
  border-bottom: double 2px #FF705E;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #FF705E;
  -webkit-text-fill-color: black;
  transition: left 500ms ease-in-out, right 200ms ease-in-out;
  text-shadow: 5px 9px 13px rgba(195,24,24,0.73);
  transition: text-shadow 0.3s ease-in-out;
}

nav ul {
  list-style-type: square;
  padding-left: 5px;
  padding-bottom: 3px;
}


.mapBox {
  text-align: center;
}

.profile h2 {
  color: #FF705E;
  border-bottom: double 2px #FF705E;
}

.profile h5 {
  color: #FF705E;
}

.registerForm h2 {
  color: #FF705E
}

.registerForm button {
  font-family: 'Supermercado One', cursive;
  text-align: center;
}

.registerForm input {
  font-family: 'Supermercado One', cursive;
  display: block;
  margin: auto;
  width: 30%;
}

.reportForm input {
  display: block;
  margin: auto;
  width: 30%;
}

.reportFeed {
  color:#FF705E;
  align-content: center;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: scroll;
  max-height: 100%;
}

.reportFeed h3 {
  width: auto;
  font-family: 'Supermercado One', cursive;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom-style: dotted;
}

.Report {
  max-width: fit-content;
  max-height: fit-content;
  display: inline-block;
  height: auto;
  text-align: center;
  vertical-align: middle;
  margin-left: 35px;
  margin-top: 10px;
  align-self: center;
}

.Report .username {
  text-decoration: underline #FF705E;
  text-decoration-style: solid;
}


.CardText {
  max-width: 60px;
  border: 1.5px dotted #FF705E;
  max-width: 60px;
  width: 100%;
  line-height: 50px;
  display: inline-block;
}

.Report .location {
  display: inline;
}

.Report hr {
  color: #FF705E;
}

.submitButton {
  margin-top: 5px;
}

